In [5]:
import pandas as pd
import numpy as np

In [13]:
cv = pd.read_csv("insurance.csv")

In [14]:
cv.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
cv.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [16]:
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [18]:
cv.memory_usage()

Index          80
age         10704
sex         10704
bmi         10704
children    10704
smoker      10704
region      10704
charges     10704
dtype: int64

In [19]:
cv.memory_usage().sum()

75008

In [20]:
cv.memory_usage(deep=True)

Index          80
age         10704
sex         82942
bmi         10704
children    10704
smoker      79216
region      88308
charges     10704
dtype: int64

In [21]:
cv.memory_usage(deep=True).sum()

293362

## Changing datatype

In [22]:
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [24]:
cv.smoker.unique()

array(['yes', 'no'], dtype=object)

In [25]:
cv.smoker.astype("category")

0       yes
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11      yes
12       no
13       no
14      yes
15       no
16       no
17       no
18       no
19      yes
20       no
21       no
22       no
23      yes
24       no
25       no
26       no
27       no
28       no
29      yes
       ...
1308    yes
1309     no
1310     no
1311     no
1312     no
1313    yes
1314    yes
1315     no
1316     no
1317     no
1318     no
1319     no
1320     no
1321    yes
1322     no
1323    yes
1324     no
1325     no
1326     no
1327     no
1328     no
1329     no
1330     no
1331     no
1332     no
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: category
Categories (2, object): [no, yes]

In [27]:
cv["smoker"]=cv.smoker.astype("category")

In [28]:
cv.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [29]:
cv.sex.unique()

array(['female', 'male'], dtype=object)

In [31]:
cv.sex.astype("category")

0       female
1         male
2         male
3         male
4         male
5       female
6       female
7       female
8         male
9       female
10        male
11      female
12        male
13      female
14        male
15        male
16      female
17        male
18        male
19        male
20      female
21      female
22        male
23      female
24        male
25      female
26      female
27      female
28        male
29        male
         ...
1308    female
1309      male
1310      male
1311    female
1312      male
1313    female
1314    female
1315      male
1316    female
1317      male
1318      male
1319    female
1320      male
1321      male
1322      male
1323    female
1324      male
1325      male
1326    female
1327      male
1328    female
1329      male
1330    female
1331    female
1332    female
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: category
Categories (2, object): [female, male]

In [32]:
cv["sex"]=cv.sex.astype("category")

In [33]:
cv.head(4)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061

In [34]:
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null category
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null category
region      1338 non-null object
charges     1338 non-null float64
dtypes: category(2), float64(2), int64(2), object(1)
memory usage: 55.1+ KB

In [35]:
cv.memory_usage(deep=True)

Index          80
age         10704
sex          1542
bmi         10704
children    10704
smoker       1537
region      88308
charges     10704
dtype: int64

In [36]:
cv.memory_usage(deep=True).sum()

134283